<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <header class="navbar navbar-inverse navbar-fixed-top" id="slide-nav" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <nav class="nav navbar-nav navbar-left">
        <span class="nav-title">
          Bookers
        </span>
        </nav>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

  <div class="collapse navbar-collapse" id="slidemenu">
    <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
      <% if user_signed_in? %>

        <li class="" aria-hidden="true">
         <%= link_to ' Home', user_path(current_user),class: "glyphicon glyphicon-home" %>
        </li>

        <li class=""  aria-hidden="true" >
         <%= link_to ' Users', users_path, class: "glyphicon glyphicon-user"%>
        </li>

        <li class="" aria-hidden="true">
          <!-- ↓以下のコードは、5章で正しいroutingに書き直します。 -->
         <%= link_to ' Books', books_path,class: "glyphicon glyphicon-book"  %>
        </li>

         <li class="" aria-hidden="true">
         <%= link_to " logout", destroy_user_session_path, method: :delete,class: "glyphicon glyphicon-log-out",redirect_to: root_path  %>
        </li>

      <% else %>

        <li class="" aria-hidden="true">
         <%= link_to ' Home', '/' ,class: "glyphicon glyphicon-home"%>
        </li>

        <li class="" aria-hidden="true">
          <%= link_to ' About', home_about_path,class: "glyphicon glyphicon-link" %>
        </li>

        <li class="" aria-hidden="true">
          <%= link_to ' sign up', new_user_registration_path ,class: "glyphicon glyphicon-edit"%>
        </li>

         <li class="" aria-hidden="true">
         <%= link_to " login", user_session_path,class: "glyphicon glyphicon-log-in"  %></span>
        </li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>
   <div class="body">

    <div class="container">
    <%= yield %>
    </div>
   </div>

   <div class="container">
    <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
   </div>
  </body>
</html>
